//Fonts
$font-main: 'Lato', sans-serif;
//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-red : #EE3D1B;
$color-darkRed : #D52047;
$color-lightGrey : #FAFAFA;
$color-lightRed  :#ED4C5C;
$color-grey : rgba(16,16,16,0.08);
//Sizes
$input-large-width: 540px;
$input-small-width: 255px;