.technology__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}
.technology__header {
    @include headerText;
    margin-bottom: 52px;
}
.technology__wrapper {
    display: flex;
    justify-content: space-between;
}
.technology__box {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0 15px;
    .box__image-container {
        position: relative;
        .box__image-header {
            font-size: 100px;
            line-height: 120px;
            color :$color-grey;
            font-weight: 700;
        }
    }
    .box__text-container {
        text-align: center;
        .text__container-header{
            margin: 30px 0 20px 0;
            font-weight: 700;
            font-size: 18px;
        }
        .text__container-description{
            font-weight: 400;
            font-size: 12px;
        }
    }
}
.cloud_logo {
    position: absolute;
    bottom: 2px;
    left: 58px;
}
.cloud_arrow-logo {
    position: absolute;
    top: 94px;
    left: 83px;
}
.complete_logo {
    position: absolute;
    top: 72px;
    left: 61px;
}
.pdf__logo {
    position: absolute;
    top: 72px;
    left: 63px;
}
.pdf__logo-partD {
    position: absolute;
    top: 97px;
    left: 85px;
}
.pdf__logo-partP {
    position: absolute;
    top: 97px;
    left: 71px;
}
.focus__images {
    position: relative;
    margin: 94px 0 95px 10px;
    .focus__image-backImg {
        position: relative;
        width: 383px;
        height: 267px;
        border-radius: 15px;
    }
    .focus__image-backImgSecond {
        position: absolute;
        top: 0;
        left : 150px;
        width: 383px;
        height: 267px;
        border-radius: 15px;
    }
    .focus__image-frontImg {
        position: absolute;
        top: -22px;
        left: 48px;
        width: 445px;
        height: 311px;
        border-radius: 15px;
    }
    .images__background {
        display: flex;
        position: absolute;
    }
}
@media all and (max-width: 1280px){
    .technology__container {
        height: 600px;
    }
    .technology__wrapper {
        flex-wrap: wrap;
    }
}
@media all and (max-width: 480px) {
    .technology__container {
        height: 1070px;
    }
    .technology__wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}