.technology__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}
.technology__header {
    @include headerText;
    margin-bottom: 52px;
}
.technology__wrapper {
    display: flex;
    justify-content: space-between;
}
.technology__box {
    display: flex;
    text-align: center;
    flex-direction: column;
    .box__image-container {
        position: relative;
        .box__image-header {
            font-size: 100px;
            line-height: 120px;
            color :$color-grey;
            font-weight: 700;
        }
    }
}
.cloud_logo {
    position: absolute;
    bottom: 2px;
    left: 93px;
}
.cloud_arrow-logo {
    position: absolute;
    top: 94px;
    left: 118px;
}
.complete_logo {
    position: absolute;
    top: 72px;
    left: 89px;
}